  <div class="banner-hp">
    <div class="container">
      <h1>SuperMarket brings <strong>HEROES</strong> and <strong>GRANDMAS</strong> together!</h1>
      <p>Change your life by renting a superhero or an old lady</p>
      <a class="btn btn-flat" href="#">Start browsing!</a>
    </div>
  </div>
<div class="main-container">

  <% @superheroes.each do |superhero| %>

    <div class="card-superhero">
      <% if superhero.image != nil %>
      <%= image_tag superhero.image, alt: "alttext", class: "card-img-top"  %>
      <% end %>
      <div class="card-superhero-infos">
        <h2><%= superhero.name %></h2>
        <p>Superpower: <%= superhero.superpower %></p>
        <p>Price: <%= superhero.price %></p>
        <p>Location: <%= superhero.location %></p>
      </div>
    </div>
  <% end %>
</div>
