  <div class="banner-home1">
    <div class="container map-btn">
      <%= link_to "See the map", "#", class: "btn btn-gradient1" %>
    </div>
  </div>

<div class="main-container">

  <% @superheroes.each do |superhero| %>

    <div class="card-superhero">
      <% if superhero.photo.attached? %>
        <%= cl_image_tag superhero.photo.key, height: 300, width: 400, crop: :fill %>
       <% elsif superhero.image %>
         <%= image_tag superhero[:image], alt: "alttext", class: "card-img-top"  %>
      <% else %>
        <p>no photo</p>
      <% end %>
      <div class="card-superhero-infos">
        <h2><%= superhero.name %></h2>
        <p>Superpower: <%= superhero.superpower %></p>
        <p>Price: <%= superhero.price %></p>
        <p>Location: <%= superhero.location %></p>
      </div>
    </div>
  <% end %>
</div>
