<div>

  <div class="d-inline-flex p-2">
    <li class="nav-item">
      <%= link_to "Back", request.referer.present? ? request.referer : root_path, class: "nav-link add-superhero-button"%>
    </li>
    <h2>Add a Superhero</h2>
  </div>

  <div class="container">
        <div class="card-category" >
          <%= simple_form_for(@superhero) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :superpower, :collection => %w[Mike Nick Jason Tim] %>
          <%= f.input :price %>
          <%= f.input :brains %>
          <%= f.input :strength %>
          <%= f.input :speed %>
          <%= f.input :location %>
           <button type="submit" class="btn btn-outline-primary">Submit</button>
           <%= link_to "<button class='btn btn-outline-primary'>Cancel</button>".html_safe, root_path %>
          <% end %>
        </div>
  </div>
</div>
