<div>

  <div class="banner-home1">
    <div class="d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <div class="nav-item">
          <%= link_to "Back", request.referer.present? ? request.referer : root_path, class: "back-button"%>
        </div>
        <h2 style="font-size: 25px">    Add a Superhero</h2>
      </div>
    </div>
  </div>

<div class="background1">
  <div class="container container-body">
    <div class="new-form-body">
        <div class="simple-form" >
          <%= simple_form_for(@superhero) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :superpower, :collection => %w[Absorption Acrobatics Agility Apathy Anti-Gravity Aura Banish Bloodlust Camouflage Danmaku Dexterity Durability Elasticity Endurance Empathy Flamethrower Flight Fusion Gliding Hacking Hyperkinesis Immortality Insanity Invisibility Levitation Necromancy Orbing Paralysis Phasing Projection Salvation Sonar Shapeshifting Stealth Telepathy Vision-heat Wallcrawling Zenith] %>
          <%= f.input :price %>
          <%= f.input :brains, collection: 0..100 %>
          <%= f.input :strength, collection: 0..100 %>
          <%= f.input :speed, collection: 0..100 %>
          <%= f.input :location %>
          <%= f.input :photo, as: :file %>
           <button type="submit" class="btn btn-outline-primary">Add the superhero</button>
           <%= link_to "<button class='btn btn-outline-primary'>Cancel</button>".html_safe, root_path %>
          <% end %>
        </div>
        <div class="new-form-img">
          <%= image_tag "superheroes.jpg"%>
        </div>
    </div>
  </div>
</div>
