<div class="banner-home">
  <div class="show-container">
    <div class="booking-date">
       <%= render "bookings/new", superhero: @superhero, booking: @booking %>
    </div>


    <div class="booking-content">
      <div>
        <% if @superhero.photo.attached? %>
          <%= cl_image_tag @superhero.photo.key, height: 350, width: 270, crop: :fill, class: "card-img-top" %>
        <% elsif @superhero.image %>
          <%= image_tag @superhero[:image], alt: "alttext", class: "card-img-top"  %>
        <% else %>
          <p>No Photo</p>
        <% end %>
      </div>
      <div class="booking-content-container">
      <h2 id="h2-booking"><%= @superhero.name %></h2>
        <div>
          <p>Superpower: <%= @superhero.superpower %></p>
          <p><%= @superhero.description %></p>
          <div class="d-flex justify-content-between">
            <div class="column">
              <p>Age: <%= @superhero.age %></p>
              <p>Brains: <%= @superhero.brains %></p>
            </div>
            <div class="column">
              <p>Strength: <%= @superhero.strength %></p>
              <p>Speed: <%= @superhero.speed %></p>
            </div>
          </div>
          <div id="avatar-price">
            <p><%= cl_image_tag @superhero.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></p>
            <p id="price">$ <%= @superhero.price %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="marginzero">
    <br>
    <h2>Reviews</h2>
    <br>
    <% @reviews.each do |review| %>
      <div class="review card-product card-product-infos" id="card-review">

          <div class="d-flex">
            <div class="star-pad">
              <% review.rating.times do  %>
                <i class="fas fa-star star1"></i>
              <% end %>
            </div>
            <div>
              <p id="reviewtext1"><%= review.created_at %></p>
              <p id="reviewtext"><%= review.description %></p>
            </div>
          </div>
          <div>
            <div class="d-flex review-avatar">
               <%= cl_image_tag review.booking.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div id="avatarpad">
                <p id="reviewtext"><%= review.booking.user.first_name.capitalize %> <%= review.booking.user.last_name.capitalize %></p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
</div>

<div>
  <div class="map-position">
      <div
        id="map"
        class="show-map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
       <br>
    </div>
</div>


