<div class="card-superhero">
  <%= image_tag @superhero[:image], alt: "alttext", class: "card-img-top"  %>

  <div class="card-superhero-infos">
    <h2><%= @superhero.name %></h2>
    <p><%= @superhero.description %></p>
    <p>Age: <%= @superhero.age %></p>
    <p>Superpower: <%= @superhero.superpower %></p>
    <p>Brains: <%= @superhero.brains %></p>
    <p>Strength: <%= @superhero.strength %></p>
    <p>Speed: <%= @superhero.speed %></p>
    <p>Price: <%= @superhero.price %></p>
    <p>Location: <%= @superhero.location %></p>

    <%= render "bookings/new", superhero: @superhero, booking: @booking %>

    <%= link_to "Delete", superheroes_path,
      method: :delete,
      data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
  </div>
<%= link_to "Keep browsing", superheroes_path, class: "btn btn-gradient" %>
</div>

