<div class="card-superhero">
  <% if @superhero.photo.attached? %>
    <%= cl_image_tag @superhero.photo.key, height: 300, width: 400, crop: :fill %>
  <% elsif @superhero.image %>
    <%= image_tag @superhero[:image], alt: "alttext", class: "card-img-top"  %>
  <% else %>
    <p>No Photo</p>
  <% end %>

  <div class="card-superhero-infos">
    <h2><%= @superhero.name %></h2>
    <p><%= @superhero.description %></p>
    <p>Age: <%= @superhero.age %></p>
    <p>Superpower: <%= @superhero.superpower %></p>
    <p>Brains: <%= @superhero.brains %></p>
    <p>Strength: <%= @superhero.strength %></p>
    <p>Speed: <%= @superhero.speed %></p>
    <p>Price: <%= @superhero.price %></p>
    <p>Location: <%= @superhero.location %></p>

  <div
    id="map" class="map-halfpage"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

    <%= render "bookings/new", superhero: @superhero, booking: @booking %>

    <%= link_to "Delete", superheroes_path,
      method: :delete,
      data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>

  </div>
  <div>
      <h2>Reviews</h2>
      <% @reviews.each do |review| %>
         <p><%= review.description %></p>
         <p><%= review.rating %></p>
         <p><%= review.booking.user.first_name %></p>
         <p><%= review.booking.user.last_name %></p>
         <%= cl_image_tag review.booking.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
  </div>
<%= link_to "Back to Superheroes", superheroes_path, class: "btn btn-gradient" %>
</div>

