<div class="banner-home">
  <div class="show-container">
    <div>
       <%= render "bookings/new", superhero: @superhero, booking: @booking %>
    </div>


    <div class="show-card">
      <div>
        <% if @superhero.photo.attached? %>
          <%= cl_image_tag @superhero.photo.key, height: 250, width: 350, crop: :fill %>
        <% elsif @superhero.image %>
          <%= image_tag @superhero[:image], alt: "alttext", class: "card-img-top"  %>
        <% else %>
          <p>No Photo</p>
        <% end %>
      </div>
      <div>
        <h2><%= @superhero.name %></h2>
        <p><%= @superhero.description %></p>
        <div class="d-flex justify-content-between">
          <div class="column">
            <p>Age: <%= @superhero.age %></p>
            <p>Superpower: <%= @superhero.superpower %></p>
            <p>Brains: <%= @superhero.brains %></p>
            <p>Strength: <%= @superhero.strength %></p>
          </div>
          <div class="column attributes-grid">
            <p>Speed: <%= @superhero.speed %></p>
            <p>Price: <%= @superhero.price %></p>
            <p>Location: <%= @superhero.location %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div>
  <div class="map-position">
      <div
        id="map"
        style="width: 70%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
       <br>
    </div>
</div>



<div>
    <h2>Reviews</h2>
    <div class="review card-product card-product-infos">
      <% @reviews.each do |review| %>
        <div class="d-flex">
          <div>
            <h2>STARS TO BE FILL</h2>
            <% review.rating.to_i.times do  %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </div>
          <div>
            <p>Review Date</p>
            <p><%= review.description %></p>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <div>
              <p><%= review.booking.user.first_name %></p>
              <p><%= review.booking.user.last_name %></p>
            </div>
            <%= cl_image_tag review.booking.user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </div>
        </div>
    </div>
</div>

<%= link_to "Back to Superheroes", superheroes_path, class: "btn btn-gradient" %>
<% end %>
