<div class="banner-home">
  <div class="container-home">
    <div class="d-flex">
      <div class="left-home">
        <h1>Need a saviour? Rent one.</h1>
          <div class="container">
            <div class="row">
              <div class="col-sm-8 offset-sm-2">
                <%= form_tag superheroes_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find a Superhero"
                  %>
                  <%= submit_tag "Search", class: "btn btn-primary" %>
                <% end %>
                <div id="superheroes">
                  <% @superheroes.each do |superhero| %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      <div class="spidercards">
        <%= image_tag "spidercards.png", alt: "Spidercards", width: 450 %>
      </div>
     </div>
  </div>
</div>


<div class="main-container">

  <% @superheroes.each do |superhero| %>
    <%= render partial: 'shared/card', locals: { superhero: superhero } %>
  <% end %>

</div>
