<div class="banner-home">
  <div class="container-home">
    <div class="d-flex">
      <div class="left-home">
        <h1 style="padding-bottom: 50px">Rent your favourite <br><strong>Superheroes</strong></h1>
        <div class="search-form-control form-group">
          <%= form_tag superheroes_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control string required",
              placeholder: "Search a superhero, city..." %>
            <%= submit_tag "Search", class: "btn btn-flat" %>
          <% end %>
          <div id="superheroes">
          <% @superheroes.each do |superhero| %>
          <% end %>
          </div>
        </div>
      </div>
      <div class="spidercards">
        <%= image_tag "cards-home.png", alt: "Spidercards", width: 536 %>
      </div>
     </div>
   </div>
</div>

<div class="main-container">
  <div class="title-hp">
    <h2>Latest superheroes</h2>
  </div>
  <div class="last-cards">
    <% last8 = @superheroes.last(8) %>
    <% last8.each do |superhero| %>
      <%= render partial: 'shared/card', locals: { superhero: superhero } %>
    <% end %>
  </div>
</div>



