<div class="banner-home1">
    <nav class="nav1" style="">
      <a class="nav1-link" href="<%= account_my_superheroes_path %>">My Superheroes</a>
      <a class="nav1-link active" href="<%= account_my_bookings_path %>">Bookings</a>
       <a class="nav1-link" href="<%= account_my_profile_path %>">Profile</a>
    </nav>
</div>

<div class="account-container">
  <% @my_bookings.each do |mybooking| %>
    <div class="account-card">
      <div class="card-main">
        <div class="account-image">
          <%= cl_image_tag mybooking.superhero.photo.key, alt: "alttext" %>
        </div>
        <div class="account-info">
          <h2><%= mybooking.superhero.name %></h2>
            <div class="details">
              <p>Description: <%= mybooking.superhero.description %></p>
            <p>Age: <%= mybooking.superhero.age %></p>
            <p>Superpower: <%= mybooking.superhero.superpower %></p>
            <p>Brains: <%= mybooking.superhero.brains %></p>
            <p>Strength: <%= mybooking.superhero.strength %></p>
            <p>Speed: <%= mybooking.superhero.speed %></p>
            <p>Location: <%= mybooking.superhero.location %></p>
            <p>Price: <%= mybooking.superhero.price %></p>
          </div>

        <div class ="account-options">
          <% if mybooking.review.nil? %>
            <%= link_to "Add review", new_superhero_booking_review_path(mybooking.superhero, mybooking), class: "btn btn-gradient" %>
          <% end %>
          <% unless mybooking.review.nil? %>
            <div class="account-reviews">
              <div class="review card-product card-product-infos" id="card-review">

          <div class="d-flex">
            <div class="star-pad">
              <% mybooking.review.rating.times do  %>
                <i class="fas fa-star star1"></i>
              <% end %>
            </div>
            <div>
              <p id="reviewtext1"><%= mybooking.review.created_at %></p>
              <p id="reviewtext"><%= mybooking.review.description %></p>
            </div>
          </div>
      </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>
</div>
