<nav class="nav" style="background-color: grey; height: 73px; align-items: center;">
  <a class="nav-link active" href="<%= account_my_superheroes_path %>">My Superheroes</a>
  <a class="nav-link" href="<%= account_my_bookings_path %>">Bookings</a>
  <a class="nav-link" href="#">Profile</a>
</nav>
<div container-cards>
  <% @my_bookings.each do |mybooking| %>
  <div class="card-superhero-account">
    <%= cl_image_tag mybooking.superhero.photo.key, alt: "alttext", class: "card-img-top"  %>
    <div class="middle">
      <h2><%= mybooking.superhero.name %></h2>
      <p><%= mybooking.superhero.description %></p>
      <p>Available</p>
    </div>
    <div class="last">
      <% if mybooking.review.nil? %>
      <%= link_to "Add review", new_superhero_booking_review_path(mybooking.superhero, mybooking), class: "btn btn-gradient" %>
      <% end %>
      <p><%= mybooking.superhero.age %></p>
      <p><%= mybooking.superhero.superpower %></p>
       <p><%= mybooking.superhero.brains %></p>
        <p><%= mybooking.superhero.strength %></p>
         <p><%= mybooking.superhero.speed %></p>
          <p><%= mybooking.superhero.location %></p>
           <p><%= mybooking.superhero.price %></p>
           <% unless mybooking.review.nil? %>
           <p><%= mybooking.review.description %></p>
           <p><%= mybooking.review.rating %></p>
           <% end %>


    </div>
  </div>
  <% end %>
</div>
