<nav class="nav" style="background-color: grey; height: 73px; align-items: center;">
  <a class="nav-link active" href="<%= account_my_superheroes_path %>">My Superheroes</a>
  <a class="nav-link" href="<%= account_my_bookings_path %>">Bookings</a>
   <a class="nav-link" href="<%= account_my_profile_path %>">Profile</a>
</nav>

<h1>Hello from the my profile page</h1>
<div class="card-superhero-infos">
    <p>First name: <%= current_user.first_name %></p>
    <p>Last name: <%= current_user.last_name %></p>
    <p>E-mail address: <%= current_user.email %></p>
    <p>Account created: <%= current_user.created_at %></p>
</div>
